#backgroundPopup{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:3;
}
#popupContact{
    display:none;
    position:fixed;
    _position:absolute; /* hack for internet explorer 6*/
    /*background: url(../images/panelShowUp.png) no-repeat;*/
    background-color: #FFF;
    border: 1px solid black;
    z-index:4;
    padding:12px;
    font-size:13px;
}
/*#popupContact h1{
    text-align:center;
    color:#6FA5FD;
    font-size:18px;
    font-weight:700;
}*/
#popupContact h6 {
	margin: 0px;
}
#popupContact td {
	padding: 2px;
}
#popupContactClose{
    font-size:14px;
    line-height:16px;
    right:6px;
    top:4px;
    margin-right: 50px;
    margin-top: 30px;
    position:absolute;
    color:black;
    font-weight:700;
    display:block;
    cursor: pointer;
}
/*.popupText{
    height:25px;
    font-size:18px;
    color: blue;
}*/
